<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <link rel="stylesheet" href="../static/style.css"/>
    </head>
    <body>
        <div class= "box">
        <form action="/" method="POST" name="form">
            <h1>Login</h1>
            <div>
                <h4>Username:</h4>
                <input type="text" id="login" name ="user" value ="{{username}}"/>
            </div>
            <div>
                <h4>Password:</h4>
                <input type="text" id="login" name ="pass" value ="{{password}}"/>
            </div>
            <div class="button">
                <button type="submit" value="Submit">Submit</button>
            
        </form>
        </div>
    </body>
</html>